Source: ros-kinetic-piksi-multi-rtk
Section: misc
Priority: extra
Maintainer: Andres Palomino <andres@earthrover.cc>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-piksi-rtk-msgs, ros-kinetic-roslib, ros-kinetic-rospy, ros-kinetic-sensor-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-piksi-multi-rtk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-geometry-msgs, ros-kinetic-piksi-rtk-msgs, ros-kinetic-roslib, ros-kinetic-rospy, ros-kinetic-sensor-msgs
Description: ROS driver for Piksi Multi RTK GPS Receiver.
